body
{
 text-align: center; 
 font-size:20px; 
 font-family:cursive;
 text-decoration:underline;
  background-size: cover;
}


h1{
	color:#81b29a;
	
}

h4{
	color:#81b29a;
	
}

span{
	color:#81b29a;
	padding-left:80px;
	padding-right:80px;
}

img{
border-radius: 50%;
height:400px;
	border-color: rgb(77, 106, 131);
	border-style: double;
}
#Gotmyeyeonu
{
	background:linear-gradient(#fffdbe 10%,#ffd7fd 90%);
}
 .menu{
list-style:none;
position:fixed;
background-color:#FED4CE;
width:100%;
margin-top:0px;
top:0px;
z-index:10;
cursor: pointer;
}

.links{

display: inline;
	padding-left:33px ;
	padding-right:25px ;
	padding-bottom:5px ;
	font-family: fantasy;
	font-size:20px;
	color: hsl(193, 100%, 23%);
}

#NAME 
{
	font-family: 'Homemade Apple', cursive;
	font-size:90px;
}
.links:hover
{
font-size: 35px;
text-decoration: wavy;
color: royalblue;
}